

#title{
    background-color: #ff4c68;
}

h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
    font-weight: 900;
    line-height: 1.5;
    color: white;
}
h2{
    font-family: 'Monserrat', sans-serif;
    font-weight: 700;
    font-size: 4rem;
    line-height: 1.5;
}

.container-fluid{
    padding: 3% 15%;
}

/* Navigation bar */

.navbar{
    padding-bottom: 4.5rem;
    /* padding-bottom: 0 0 4.5rem 0; */
}
.navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item{
    padding: 0 18px;
}

.nav-link{
    font-size: 1.2rem;
    font-family: 'Monseratt-light', sans-serif;
}

/* Download Buttons */
.download-btn{
    margin: 5% 3% 5% 0;
    font-family: 'Monseratt-light', sans-serif;
}

/* Title Image */

.title-image{
    width: 60%;
    transform: rotate(25deg);
}

/* Features */

.features{
    padding: 7% 15%;
}

.feature-div{
    padding: 3%;
    text-align: center;
    width: fit-content;
}

.feature-icon{
    padding: 3%;
    color: #ff8172;
}
.feature-icon:hover{
    color: #ff4c68;
}

.feature-div>h3{
    font-family: 'Montserrat', sans-serif;
}
.feature-div>p{
    font-family: 'Ubuntu', sans-serif;
    width: 80%;
    margin: auto;
    color: #8f8f8f;
}

/* Testimonial Section */

#testimonials{
    text-align: center;
    color: #fff;
    background: #ff4c68;
}
.carousel-item{
    padding: 7% 15%;
}
.testimonial-image{
    border-radius: 100%;
    margin: 0 20px 20px 5px;
    width: 10%;
}


/* press */

#press{
    background: #ff4c68;
    text-align: center;
    padding-bottom: 5%;
}

.press-logo{
    width: 10%;
    margin: 15px;
}