body{
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}
h1{
    margin: 50px, auto, 0, auto;
    font-size: 5.625rem;
    color: #66BFBF;
    font-family: 'Sacramento', cursive;
}
h2{
    font-size: 2rem;
    font-weight: normal;
    color: #66BFBF;
    font-family: 'Montserrat', sans-serif;
}
h3{
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
}
a{
    color: #11999f;
    text-decoration: none;
}
div > div > h2 > #pro{
    text-decoration: underline;
    line-height: 2px;
}
hr{
    color: gray;
    size: 3;
    border-style: none none dotted;
    border-width: 7px;
    width: 5%;
}
.top-container{
    background: #E4F9F5;
    position: relative;
    padding-top: 100px;
}
.middle-container{
    
}

.skill-row{
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    width: 50%;
    text-align: left;
    line-height: 2;
}
.contact-me > p{
    margin-bottom: 50px;
}
.contact-me > .contact-btn {
    margin-top: 50px;
    color: #fff;
    background: #66BFBF;  
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
 }
 
.bottom-container{
    margin-top: 50px;
    padding: 50px;
    background: #66BFBF;
}
.bottom-container > p{
    color: #EAF6F6;
}
.bottom-container > .footer-link{
    padding: 10px;
}

.top-cloud{
    position: absolute;
    right: 300px;
    top: 50px;
}
.bottom-cloud{
    position: absolute;
    left: 300px;
    bottom: 300px;
}

.profile-img{
    margin-top: 100px;
    width: 20%;
    border-radius: 45%;
}
.code-img{
    width: 25%;
    border-radius: 10%;
    float: left;
    margin-right: 30px;
}
.utube-img{
    width: 15%;
    border-radius: 10%;
    float: right;
    margin-left: 30px;
}
.blog-img{
    width: 15%;
    border-radius: 10%;
    float: left;
    margin-right: 30px;
}

